{% extends "base.html" %}
{% block head %}
<style>td,th{padding:1px 10px;border-right:1px solid #ace}
.list h3,.list h4{margin:5px 0}</style>
{% endblock %}
{% block container %}
<h1>About me</h1>
<h3>So I'm Ben</h3>
<table><tr><th>University: </th><td>University of Auckland</td><td>2011-2015</td></tr>
<tr><th>Degree: </th><td>Bachelor of Engineering (Honours)</td><td>Specialisating in Engineering Science</td></tr>
<tr><th></th><td>Bachelor of Commerce</td><td>Majoring in Economics</td></tr>
<tr><th>Email: </th><td>benlu5663@gmail.com</td><td></td></tr>
</table>
<h3>Programming projects</h3>
<table><tr><th>Java</th><td>Android</td><td>Spent quite a lot of time working with the Android API</td></tr>
<tr><th></th><td>University Game</td><td>Using Java to make a platform game with GUI</td></tr>
<tr><th>Python</th><td>Django University Website</td><td>Making Django Website with P2P interface</td></tr>
<tr><th>(HTML/CSS/Javascript)</th><td>This Website</td><td>Ummm Hello!</td></tr>
<tr><th>C/C++</th><td>University</td><td>Performing simple command line applications</td></tr>
<tr><th>MATLAB</th><td>University</td><td>Matrix operations such as linear programming</td></tr>
<tr><th>VBA</th><td>University</td><td>Prototype website design</td></tr>
<tr><th>Visual Basic</th><td>College</td><td>Windows Form Application</td></tr>
</table>
<h2>What I'm doing during University</h2>
<ul class="list">
<li>Various Android apps, one of which is on the app store</li>
<li><h3>Operations Research</h3><ul>
    <li>Optimising simple problems, using various algorithms</li>
    <li><h4>Linear Algebra</h4><ul>
        <li>Matrix Multiplication</li>
        <li>Inner Product</li>
        <li>Outer Product</li>
        <li>Spaces</li>
        <li>Inverses</li>
        <li>Orthogonal</li>
        <li>Orthonormal</li>
        <li>Symmetric</li>
        <li>Transpose</li>
        <li>Hermetian</li>
        <li>Khronecker Product</li>
        <li>Eigenvalue/eigenvectors</li>
        <li>Gauss-Jordan pivoting</li>
        <li>Reduced Row Echelon Form</li>
        <li>LU factorisation</li>
        <li>QR decomposition (Gram-Schmidt)</li>
        <li>Least Squares</li>
        <li>Jordan matricies</li>
        <li>Singular Value Decomposition</li>
    </ul></li>
    <li><h4>Sorting</h4><ul>
        <li>Bubble sort</li>
        <li>Insertion sort</li>
        <li>Shell sort</li>
        <li>Merge sort</li>
        <li>Quick sort</li>
        <li>Heap sort</li>
    </ul></li>
    <li><h4>Statistics</h4><ul>
        <li>Six Sigma Quality Control</li>
        <li>Probability, trees, Bayes Theorem</li>
        <li>Poisson Distribution</li>
        <li>Binomial Distribution</li>
        <li>Geometric Distribution</li>
        <li>Exponential Distribution</li>
        <li>Normal Distribution</li>
        <li>Central Limit Theorem</li>
        <li>ANalysis Of VAriance</li>
        <li>Multi-way ANOVA</li>
        <li>Regression</li>
    </ul></li>
    <li><h4>Numerical Methods</h4><ul>
        <li>Newton-Cotes and Gaussian Quadrature</li>
        <li>Stiff Ordinary Differential Equations</li>
        <li>Interpolation - cubic splines</li>
    </ul></li>
    <li><h4>Linear Programming</h4><ul>
        <li>Revised Simplex Method</li>
        <li>Dual Simplex Method</li>
        <li>Post Optimal, Parametric Analysis</li>
        <li>Complementary Slackness</li>
    </ul></li>
    <li><h4>Graphs</h4><ul>
        <li>Dijkstra's Algorithm</li>
        <li>Bellman's Algorithm</li>
        <li>Bellman-Ford Algorithm</li>
        <li>Floyd-Warshall Algorithm</li>
        <li>Kruskal's Algorithm</li>
        <li>Prim's Algorithm</li>
        <li>Network Simplex Method</li>
        <li>Hungarian Algorithm</li>
        <li>Transportation Problem</li>
        <li>Transshipment Problem</li>
        <li>Assignment Problem</li>
        <li>Knapsack Problem</li>
        <li>Konig-Egavary</li>
        <li>Maximum flow, Minimum cut</li>
        <li>Hall's Theorem</li>
        <li>Travelling Salesman Problem</li>
    </ul></li>
</ul></li>
<li><h3>Continuum Mechanics</h3><ul>
    <li>Stream Function</li>
    <li>Potential Function</li>
    <li>Boundary Layers</li>
    <li>Magnus Effect</li>
    <li>D'Alembert's Paradox</li>
    <li>One Equation, Two Equation</li>
    <li>Boundary Conditions</li>
</ul></li>
</ul>
<h2>About this website</h2>
<ul>
<li>Made with Google App Engine</li>
<li>Has some helpful resources to help me code</li>
<li>Ajax caller</li>
<li>Has some more interesting code which is admin only<ul>
    <li>Personal website editor builtin</li>
    <li>Uses ACE editor to manipulate code</li>
</ul></li>
</ul>
{% endblock %}