{% extends "base.html" %}
{% block container %}
<h1>Conversion table</h1>
<h2>yu iya kukiatsu, (kg/cm^2 / psi)</h2>
<table><tr><th>yu iya saizu/Air Pressure</th><th>zenrin/Front wheel</th><th>korin/Rear Wheel</th></tr>
<tr><th>155SR13<br>155/80R13</th><td>2.3 / 32.71</td><td>2.1 / 29.87</td></tr>
<tr><th>165SR13<br>165/80R13 83S</th><td>2.0 / 28.44</td><td>1.8 / 25.60</td></tr>
<tr><th>175/70R13 82S</th><td>2.2 / 31.29</td><td>2.0 / 28.44</td></tr>
<tr><th>okyu yo yu iya<br>T125/70D14</th><td>4.2 / 59.74</td><td>4.2 / 59.74</td></tr>
<tr><td colspan="3">okyu yo yu iya o socha ku shita baai wa, 100 km/h ika de soko shite kudasai. Shiyo hoho wa, toriatsukai setsumei ??? kudasai</td></tr></table>
{% endblock %}