{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="dropmenu.css">
<style type="text/css" media="screen">
#header {
    /*position: relative;
    top: 2em;
    right: 0;
    left: 0;
    height: 2em;
    z-index:1;
    background: #111;
    padding-top: 5px;
    padding-left: 5px;*/
}
#editor {
    width: 100%;
    height: 700px;
    border-top: 5px solid #ace;
    
    /* new filler thing */
    position: relative;
    left:-50%;
    max-width:900px;
    height:100%;
    display: none;
}
.offset{
    position:absolute;
    left:50%;
    top:11em;
    bottom:2em;
    width:100%;
    max-width:900px;
}
body{overflow-x:hidden}
    

.button{cursor:pointer}
.button:hover{text-decoration:none !important}
.disabled{color:#777!important}

.select select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
    background: #333;
    color:#eee;
    border:none;
    outline:none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .select select {padding-right:18px}
}

.select {position:relative;background:transparent}
.select:after {
    content:'>';
    font:16px "Consolas", monospace;
    color:#bbb;
    -webkit-transform:rotate(90deg);
       -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
            transform:rotate(90deg);
    right:8px; top:0px;
    border-bottom:0px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.select:before {
    content:'';
    right:0; top:0;
    width:21px; height:100%;
    background:#333;
    position:absolute;
    pointer-events:none;
    display:block;
}

</style>{% block head2 %}{% endblock %}
{% endblock %}
{% block container %}
<h1>Page Editor</h1>
<div id="header"><ul class="nav">
<li>{% include "select/editorselect.html" %}</li>
<li>{% include "select/themeselect.html" %}</li>
<li>{% include "select/languageselect.html" %}</li>
<li><a class="button" onclick="save()">Save & quit</a></li>
<li><a class="button" href="/admin">Quit</a></li>
<li><a class="button disabled" onclick="draftsave()" id="quicksave">QuickSave</a></li>
<li><a class="button" href="/admin?p={{name}}">View page</a></li>
</ul></div>

<div class="offset"><div id="editor">{{ pagedata }}</div></div>
{% block form %}<form method="post" name="messenger" action="/admin">
<input type="hidden" name="name" value="{{name}}"/>
<input type="hidden" name="message"/>
</form>{% endblock %}
{% endblock %}
{% block script %}
<script src="/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<!---<script src="http://ace.c9.io/build/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>-->
<script>
///*
var autosaver;
var aceeditor = ace.edit("editor");
aceeditor.setTheme("ace/theme/monokai");
aceeditor.getSession().setMode("ace/mode/html");
aceeditor.setKeyboardHandler("ace/keyboard/vim");
aceeditor.getSession().setUseWrapMode(true);
aceeditor.setBehavioursEnabled(false)
aceeditor.getSession().on('change', function(e) {
    // e.type, etc
    quicksave.className = "button";
    clearTimeout(autosaver);
    autosaver = setTimeout("draftsave()",3000);
});

window.onload = function(){
    editor.style.display = "block";
}

var keybindings = {'ace':'','emacs':'ace/keyboard/emacs','vim':'ace/keyboard/vim'}

function setKeybinding(type) {
    aceeditor.setKeyboardHandler(keybindings[type])
    aceeditor.focus()
}

function setTheme(theme) {
    aceeditor.setTheme("ace/theme/"+theme);
}

function setLanguage(language) {
    if (language == "plain_text") {
        aceeditor.getSession().setMode("");
    } else {
        aceeditor.getSession().setMode("ace/mode/"+language);
    }
}

function save() {
    messenger.message.value = aceeditor.getValue();
    messenger.submit();
}

function draftsave() {
    messenger.message.value = aceeditor.getValue();
    var xmlhttp;
    var txt,x,i;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    } else {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function(){
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
            //lyrics.innerHTML=xmlhttp.responseText;
            quicksave.className = "button disabled";
        }
    }
    xmlhttp.open("POST","/admin",true);
    xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    var postdata = "name="+encodeURIComponent(messenger.name.value)+"&message="+encodeURIComponent(messenger.message.value)
    xmlhttp.send(postdata);
}
//*/
</script>
{% block script2 %}{% endblock %}
{% endblock %}