{% extends "message.html" %}
{% block message %}
messages[0] = 'Hey! Thanks for visiting my site!';
messages[1] = 'I hope you\'re having a good day :D';
messages[2] = 'insertVirus(trojanx31);';
messages[3] = 'Sometimes its good to be part of something bigger';
messages[4] = 'getPasswords(Passwords.BANK & Passwords.FACEBOOK);';
messages[5] = 'Sometimes its just good to be alive';
messages[6] = 'installBotnetProtocol();';
messages[7] = 'Thanks for joining the fight against the man!';
messages[8] = 'Have a good day!';
{% endblock %}